*
    margin: 0
    padding: 0
    box-sizing: border-box

.sec1
    .alldiv1
        height: 100vh
        .div11
            .d1
                height: 100%
                background-image: url(../image/slider.jpg)
                background-size: cover
            .d2
                height: 100vh
                width: 56rem
                h1
                    width: 36rem
                p
                    width: 36rem
                div
                    width: 32rem
                    .button1
                        width: 12rem
                        height: 3rem
                    .button2
                        width: 8rem
                        height: 3rem
        .div2
            .d1
                height: 100%
                background-image: url(../image/slider2.jpg)
                background-size: cover
        .div3
            .d1
                height: 100%
                background-image: url(../image/slider3.jpg)
                background-size: cover
    button
        .slide
            width: 3rem
            height: 3rem
.sec2
    padding: 3rem
    .div1
        display: flex
        flex-direction: column
        align-items: center
        gap: 1rem
        text-align: center
        h1
            width: 46rem
            font-weight: bold
        p
            width: 46rem
    .div2
        display: flex
        align-items: center
        justify-content: space-evenly
        position: relative
        &::after
            position: absolute
            content: ""
            left: 18rem
            top: 2rem
            width: 12rem
            border-bottom: 4px dotted $blue
        &::before
            position: absolute
            content: ""
            right: 18rem
            top: 2rem
            width: 12rem
            border-bottom: 4px dotted $blue
        i
            display: flex
            align-items: center
            justify-content: center
            width: 4rem
            height: 4rem
            border: 1px solid #444444
            border-radius: 50%
            font-size: xx-large
            color: $blue
            &:hover
                background-color: $blue
                color: #fff
        p
            text-align: center
        .di1
            display: flex
            flex-direction: column
            align-items: center
            gap: 0.50rem
.sec3
    height: 14rem
    background-image: url(../image/bread-bg.jpg)
    background-attachment: fixed
    &::before
        position: absolute
        content: ""
        width: 100%
        height: 14rem
        background-color: $blue
        background-repeat: no-repeat
        opacity: 70%
    .di1
        width: 15rem
        z-index: 2
        i
            font-size: x-large
.sec4
    .div1
        h1
            width: 44rem
        p
            width: 44rem
    .div2
        .d1
            width: 40rem
            h1
                position: relative
                &::after
                    content: ''
                    border-bottom: 4px solid blue
                    border-radius: 5px
                    width: 40%
                    position: absolute
                    left: 0
                    bottom: 0px
            .d2
                video
                    width: 30rem
                    height: 20rem
.sec5
    height: 18rem
    background-image: url(../image/call-bg.jpg)
    background-size: cover
    background-attachment: fixed
    &::before
        position: absolute
        content: ""
        width: 100%
        height: 18rem
        background-color: $blue
        background-repeat: no-repeat
        opacity: 70%
    h1
        width: 44rem
        z-index: 1
    p
        width: 44rem
        z-index: 1
    .div1
        width: 22rem
        z-index: 1
        button
            width: 10rem
            height: 3rem


.sec6
    .div1
        h1
            width: 44rem
        p
            width: 44rem
    .div2
        .alldiv
            .div1
                width: 75rem
        .image1
            width: 18rem
            height: 14rem
            position: relative
            img
                width: 100%
                height: 100%
                display: block
            div
                width: 100%
                height: 100%
                top: 0
                left: 0
                position: absolute
                background-color: $blue
                display: flex
                justify-content: center
                align-items: center
                opacity: 0
                transition: 1s
                &:hover
                    opacity: 70%
                button
                    width: 8rem
                    height: 3rem

.sec7
    .div1
        h1
            width: 44rem
        p
            width: 44rem
    .div2
        .up_dwn
            .di1
                width: 22em
                div
                    p
                        width: 18rem

.sec8
    .div1
        h1
            width: 44rem
        p
            width: 44rem


.sec9
    .div1
        h1
            width: 44rem
        p
            width: 44rem

.sec10
    height: 14rem
    background-image: url(../image/client-bg.jpg)
    background-size: cover
    &::before
        position: absolute
        content: ""
        width: 100%
        height: 14rem
        background-color: $blue
        opacity: 70%
    .div1
        width: 100%
        z-index: 2
        img
            width: 10rem
        
.sec11
    .div1
        h1
            width: 44rem
        p
            width: 44rem
    .div2
        img
            width: 34rem
            height: 31rem
        form
            width: 32rem
            input
                width: 15rem
                height: 2.5rem
            select
                width: 15rem
                height: 2.5rem
            textarea
                width: 32rem
                resize: none
                display: block

.sec12
    .alldiv
        width: 70rem
        .div1
            width: 32rem
        .div2
            width: 28rem
            input
                width: 20rem
                height: 3rem
            button
                height: 3rem